{% extends 'base.html.twig' %}
{% block body %}
    {{ include('first/sayHello.html.twig', {name: 'chers étudiants'}) }}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">note</th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr
                    class="{% if loop.index is odd %} table-primary {% else %} table-secondary {% endif %}">
                <td>{{ note }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Aucune note disponible :(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if notes %}
    <div class="alert alert-danger">
        note minimale : {{ min(notes) }}
    </div>
    <div class="alert alert-success">
        note maximale : {{ max(notes) }}
    </div>
    <div class="alert alert-info">
        nombre de notes : {{ notes | length }}
    </div>
    {% endif %}
{% endblock %}

{% block pageTitle %}
    Notes des étudiants
{% endblock %}
